<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Atomic Slider</title>
    <meta name="description" content="SVG Lab">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../styles/normalize.css">
    <link rel="stylesheet" href="atomic-slider.css">
    <script src="../../vendor/modernizer/modernizr.js"></script>

</head>
<body>

<div class="scene">

    <h1 class="main-title">Atoms of the Human Body</h1>
   
    <div class="main-display-container">

        <div class="atom__container atom--carbon">
            <div class="atom">

                <div class="atom__content">

                    <div class="atom__nucleus--container"></div>


                    <div class="atom__orbit-path atom__orbit-path-1 atom__orbit-path--visible"></div>
                    <div class="atom__orbit-path atom__orbit-path-2 atom__orbit-path--visible"></div>
                    <div class="atom__orbit-path atom__orbit-path-3 atom__orbit-path--visible"></div>
                    <!--<div class="atom__orbit-path atom__orbit-path-4 atom__orbit-path--visible"></div>-->


                    <div class="atom__orbit-path atom__orbit-path-1 atom__orbit-path--foreground">
                        <div class="electron--container"></div>
                    </div>


                    <div class="atom__orbit-path atom__orbit-path-2 atom__orbit-path--foreground">
                        <div class="electron--container"></div>
                    </div>

                    <div class="atom__orbit-path atom__orbit-path-3 atom__orbit-path--foreground">
                        <div class="electron--container">

                        </div>
                    </div>

                    <!--  Uncomment for 4th shell 
                    <div class="atom__orbit-path atom__orbit-path-4 atom__orbit-path--foreground">
                        <div class="electron--container"></div>
                    </div>
                    -->

                </div>

            </div>
        </div>
                     
        <ul class="data-pane item-list">
            <h2 class="item-list__header"><span class="data-pane__title"></span></h2>
            <li>Symbol: <span class="data-pane__symbol"></span></li>
            <li>Atomic Number: <span class="data-pane__atomic-number"></span></li>
            <li>Atomic Mass: <span class="data-pane__atomic-mass"></span></li>
            <li>Atomic Radius: <span class="data-pane__atomic-radius"></span></li>
            <li>Protons: <span class="data-pane__protons"></span></li>
            <li>Neutrons: <span class="data-pane__neutrons"></span></li>
            <li>Electrons: <span class="data-pane__electrons"></span></li>
            <li>Melting Point: <span class="data-pane__melting-point"></span></li>
            <li>Boiling Point: <span class="data-pane__boiling-point"></span></li>
            <li>Valence Shells: <span class="data-pane__valence-shells"></span></li>
        </ul>
                           
        <div class="tab-selectors tab-selectors--underlined">
            <div class="tab-selectors__content">
               <ul class="tab-selectors__tab-list">

                    <li class="tab">
                        <a class="tab__link" data-atom-key="hydrogen">
                            Hydrogen
                        </a>
                    </li>
                    <li class="tab active">
                        <a class="tab__link" data-atom-key="carbon">Carbon</a>
                    </li>                
                    <li class="tab">
                        <a class="tab__link" data-atom-key="nitrogen">Nitrogen</a>
                    </li>
                    <li class="tab">
                        <a class="tab__link" data-atom-key="oxygen">Oxygen</a>
                    </li>
                    <li class="tab">
                        <a class="tab__link" data-atom-key="phosphorus">Phosphorus</a>
                    </li> 
                    <li class="tab">
                        <a class="tab__link" data-atom-key="calcium">Calcium</a>
                    </li>                                

                </ul>

            </div>
        </div>
    
    </div>
    
    <p class="description">
        Almost 99% of the mass of the human body is made up of six elements: 
        oxygen, carbon, hydrogen, nitrogen, calcium, and phosphorus. 
        <br />
        Select one above to see it in action! 
    </p>


</div>


<script src="../../../js/lib/plugins/base-plugins.js"></script>


<script src="../../../vendor/system.js"></script>
<script src="../../../config.js"></script>
<script>    
            
    function runAtomScene () {
        System.import('views/physics-lab/atomic-slider/atomic-slider')
    }
    
    window.addEventListener('DOMContentLoaded', runAtomScene, false);

              
</script>


</body>
</html>
