@import '../../styles/application';

body {
    background-color: hsla(188, 18%, 32%, 1);
}


@media screen {

    .content {
        height: auto;
        text-align: center;
        font-size: 1rem;
        max-width: 100%;
        width: 100%;
    }

    .wrapper {
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .wrapper--text-output {
        padding: 0 0 3em 0;
    }

    .text-container {
        font-size: 2rem;
        position: relative;
        width: 100%;
        height: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10%;
        overflow: hidden;
        background-color: hsla(0, 0%, 0%, 0.79);
    }
    .text {
        color: hsla(180, 100%, 50%, 1.0);
        position: absolute;
        //right: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        font-size: 0.9rem;
        width: 80%;
    }
}
@media screen and (min-width: 900px) {
    .content {
        font-size: 0.9rem;
        //width: 70%;
    }
}
@media screen and (min-width: 600px) {
    .content {
        font-size: 0.75rem;
        //width: 60%;
    }
}
