<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PlayStation Vue Logo Animation</title>
    <meta name="description" content="PlayStation Vue Logo Animation">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <link rel="stylesheet" href="main.css">
    <!-- Place favicon.ico in the root directory -->

</head>
<body>

    <!-- Place any global svg defs here -->
    <svg class="svg-defs" version="1.1">
        <defs>

          <radialGradient id="ball-gradient">
            <stop offset=".104" stop-color="#EBFC91"/>
            <stop offset=".138" stop-color="#E9FC93"/>
            <stop offset=".158" stop-color="#E4FC9C"/>
            <stop offset=".175" stop-color="#DAFCAA"/>
            <stop offset=".189" stop-color="#CDFBBE"/>
            <stop offset=".202" stop-color="#BCFBD8"/>
            <stop offset=".214" stop-color="#A7FAF7"/>
            <stop offset=".217" stop-color="#A2FAFF"/>
            <stop offset=".223" stop-color="#ADF5FE"/>
            <stop offset=".248" stop-color="#D8E0FB"/>
            <stop offset=".269" stop-color="#F2D3FA"/>
            <stop offset=".281" stop-color="#FCCEF9"/>
            <stop offset=".294" stop-color="#FCC9F9"/>
            <stop offset=".312" stop-color="#FAB9FA"/>
            <stop offset=".331" stop-color="#F89FFC"/>
            <stop offset=".351" stop-color="#F57BFE"/>
            <stop offset=".363" stop-color="#F363FF"/>
            <stop offset=".366" stop-color="#E959FF"/>
            <stop offset=".373" stop-color="#D543FE"/>
            <stop offset=".381" stop-color="#C532FD"/>
            <stop offset=".392" stop-color="#B927FC"/>
            <stop offset=".406" stop-color="#B320FC"/>
            <stop offset=".446" stop-color="#B11EFC"/>
            <stop offset=".472" stop-color="#B522FC"/>
            <stop offset=".5" stop-color="#C02FFD"/>
            <stop offset=".528" stop-color="#D444FE"/>
            <stop offset=".539" stop-color="#DE4FFF"/>
            <stop offset=".585" stop-color="#E261FE"/>
            <stop offset=".677" stop-color="#EE91FC"/>
            <stop offset=".782" stop-color="#FCCEF9"/>
            <stop offset=".847" stop-color="#A2FAFF"/>
            <stop offset=".857" stop-color="#A8FAF7"/>
            <stop offset=".872" stop-color="#B7FBDF"/>
            <stop offset=".891" stop-color="#D0FBBA"/>
            <stop offset=".908" stop-color="#EBFC91"/>
          </radialGradient>

          <radialGradient id="ball-gradient-1" xlink:href="#ball-gradient"
                                         cx="105.028"
                                         cy="161.156"
                                         r="69.444"
                                         fx="140.579"
                                         fy="110.143"
                                         gradientTransform="matrix(1 0 0 .52 0 77.36)"
                                         gradientUnits="userSpaceOnUse">
          </radialGradient>

          <radialGradient id="ball-gradient-2" xlink:href="#ball-gradient"
                                         cx="151.183"
                                         cy="161.156"
                                         r="69.444"
                                         fx="186.734"
                                         fy="110.143"
                                         gradientTransform="matrix(1 0 0 .52 0 77.36)"
                                         gradientUnits="userSpaceOnUse">

          </radialGradient>

          <radialGradient id="ball-gradient-middle" xlink:href="#ball-gradient"
                                              cx="197.338"
                                              cy="161.156"
                                              r="69.444"
                                              fx="232.889"
                                              fy="110.143"
                                              gradientTransform="matrix(1 0 0 .52 0 77.36)"
                                              gradientUnits="userSpaceOnUse">
          </radialGradient>

          <radialGradient id="ball-gradient-4" xlink:href="#ball-gradient"
                                         cx="243.493"
                                         cy="161.156"
                                         r="69.444"
                                         fx="279.045"
                                         fy="110.143"
                                         gradientTransform="matrix(1 0 0 .52 0 77.36)"
                                         gradientUnits="userSpaceOnUse">
          </radialGradient>

          <radialGradient id="ball-gradient-5" xlink:href="#ball-gradient"
                                         cx="289.648"
                                         cy="161.156"
                                         r="69.444"
                                         fx="325.2"
                                         fy="110.143"
                                         gradientTransform="matrix(1 0 0 .52 0 77.36)"
                                         gradientUnits="userSpaceOnUse">
          </radialGradient>

        </defs>
    </svg>


    <div class="main-view-container newtons-cradle">

        <div class="newtons-cradle__bounding-wrapper svg-html-container">

            <svg class="svg-outer-container"
                 version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">

                 <svg class="newtons-cradle__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 394.1 252.6">
                   <g class="newtons-cradle__frame frame">

                     <g class="frame__frame-base frame-base">
                       <path class="frame-base__front-face" fill="#231F20" d="M0 228.6h394.1v24H0z"/>
                       <path class="frame-base__front-edge_1_" fill="#58595B" d="M394.1 229.2l-2.8-3.6-387 .6-4.3 3"/>
                       <path class="frame-base__left-edge" fill="#999A9D" d="M0 229.2v-71.4L5.3 147l-1 79.2"/>
                       <path class="frame-base__right-edge" fill="#58595B" d="M394.1 229.2v-71.9l-5.3-10.9.9 79.2"/>
                       <path class="frame-base__top-face" fill="#404041" d="M389.7 225.6l-.9-79.2-383.5.6-1 79.2"/>
                     </g>

                     <path class="frame__support support support--front" fill="#A6A8AB" d="M379.5 35.2c0-23.7-12.6-21.8-26.4-21.8H41c-13.8 0-26.4-1.9-26.4 21.8l-1.2 179.7c0 2.5 2.5 4.7 6.1 5.7 2.6.7 5-2 5-5.6V70.2c-.1-26-2.8-43.3 16.9-43.3H352.6c19.7 0 17 17.3 16.9 43.3V215c0 3.6 2.5 6.3 5 5.6 3.6-1 6.1-3.2 6.1-5.7l-1.1-179.7z"/>
                     <path class="frame__support support support--back" fill="#A6A8AB" d="M373.5 18c0-19.5-12.2-18-25.6-18H46.1C32.8 0 20.6-1.5 20.6 18l-1.2 148.1c0 2.1 2.4 3.9 5.9 4.7 2.5.6 4.8-1.6 4.8-4.6V46.9c-.1-21.4-2.7-35.7 16.4-35.7h300.9c19 0 16.4 14.3 16.4 35.7V166.3c0 3 2.4 5.2 4.8 4.6 3.5-.8 5.9-2.6 5.9-4.7l-1-148.2z"/>
                   </g>

                   <g class="newtons-cradle__bearing bearing bearing--4">
                     <path class="bearing__string string string--front" fill="#A6A8AB" stroke="#CCCDCE" stroke-width="1.492" stroke-miterlimit="10" d="M247.8 11.1l-4.3 127.8"/>
                     <path class="bearing__string string string--back" fill="#A6A8AB" stroke="#CCCDCE" stroke-width="1.492" stroke-miterlimit="10" d="M243.2 13.3v125.8"/>
                     <circle class="bearing__control-point control-point control-point--bearing-4" fill="none" cx="245.4" cy="18.5" r="1.4"/>
                     <path class="bearing__connection-node" d="M243.2 136.7c-.9 0-1.6.4-1.6.9v2.2c0 .5.7.9 1.6.9s1.6-.4 1.6-.9v-2.2c0-.5-.7-.9-1.6-.9z"/>
                     <circle class="bearing__ball ball" fill="url(#ball-gradient-4)" cx="243.2" cy="163.2" r="23.1"/>
                   </g>

                   <g class="newtons-cradle__bearing bearing bearing--middle">
                     <path class="bearing__string string" fill="#A6A8AB" stroke="#CCCDCE" stroke-width="1.514" stroke-miterlimit="10" d="M197 11.1v128.5"/>
                     <path class="bearing__connection-node" d="M197.1 136.7c-.9 0-1.6.4-1.6.9v2.2c0 .5.7.9 1.6.9s1.6-.4 1.6-.9v-2.2c0-.5-.7-.9-1.6-.9z"/>
                     <circle class="bearing__ball ball" fill="url(#ball-gradient-middle)" cx="197.1" cy="163.2" r="23.1"/>
                   </g>

                   <g class="newtons-cradle__bearing bearing bearing--2">
                     <path class="bearing__string string string--front" fill="#A6A8AB" stroke="#CCCDCE" stroke-width="1.491" stroke-miterlimit="10" d="M147.1 13.6l3.7 123"/>
                     <path class="bearing__string string string--back" fill="#A6A8AB" stroke="#CCCDCE" stroke-width="1.491" stroke-miterlimit="10" d="M150.8 11.1v128"/>
                     <circle class="bearing__control-point control-point control-point--bearing-2" fill="none" cx="149" cy="17.9" r="2"/>
                     <path class="bearing__connection-node" d="M150.9 136.7c-.9 0-1.6.4-1.6.9v2.2c0 .5.7.9 1.6.9s1.6-.4 1.6-.9v-2.2c0-.5-.7-.9-1.6-.9z"/>
                     <circle class="bearing__ball ball" fill="url(#ball-gradient-2)" cx="150.9" cy="163.2" r="23.1"/>
                   </g>

                   <g class="newtons-cradle__bearing bearing bearing--1">
                     <path class="bearing__string string string--front" fill="#A6A8AB" stroke="#CCCDCE" stroke-width="1.506" stroke-miterlimit="10" d="M92.8 13.4l12 125.2"/>
                     <path class="bearing__string string string--back" fill="#A6A8AB" stroke="#CCCDCE" stroke-width="1.491" stroke-miterlimit="10" d="M104.5 11.1v128"/>
                     <circle class="bearing__control-point control-point control-point--bearing-1" fill="none" cx="99.6" cy="19.9" r="2.5"/>
                     <path class="bearing__connection-node" d="M104.8 136.7c-.9 0-1.6.4-1.6.9v2.2c0 .5.7.9 1.6.9s1.6-.4 1.6-.9v-2.2c0-.5-.7-.9-1.6-.9z"/>
                     <circle class="bearing__ball ball" fill="url(#ball-gradient-1)" cx="104.8" cy="163.2" r="23.1"/>
                   </g>

                   <g class="newtons-cradle__bearing bearing bearing--5">
                     <path class="bearing__string string string--front" fill="#A6A8AB" stroke="#CCCDCE" stroke-width="1.486" stroke-miterlimit="10" d="M301.7 11.1l-12.3 127.8"/>
                     <path class="bearing__string string string--back" fill="#A6A8AB" stroke="#CCCDCE" stroke-width="1.474" stroke-miterlimit="10" d="M289.1 13.3v124.1"/>
                     <circle class="bearing__control-point control-point control-point--bearing-5" fill="none" cx="295.6" cy="19.9" r="1.5"/>
                     <path class="bearing__connection-node" d="M289.4 136.7c-.9 0-1.6.4-1.6.9v2.2c0 .5.7.9 1.6.9s1.6-.4 1.6-.9v-2.2c0-.5-.7-.9-1.6-.9z"/>
                     <circle class="bearing__ball ball" fill="url(#ball-gradient-5)" cx="289.4" cy="163.2" r="23.1"/>
                   </g>

                 </svg>
           </svg>

         </div>

      </div>


    </div>



    <script src="../../js/lib/plugins/base-plugins.js"></script>


    <script src="../../vendor/system.js"></script>
    <script src="../../config.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            System
              .import('views/newtons-cradle/main')
              .then(function (NewtonsCradle) {
                debugger;
                NewtonsCradle.default.run();
              })
              .catch(function (err) {
                console.error(err.stack);
              });
        });
    </script>

</body>
</html>
