.main-view-container {
  background-color: yellow; }

.scene {
  width: 100%;
  height: 100%;
  position: relative; }

.cradle {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, 50%, 0); }

.wire {
  transform-origin: 50% 0%; }

/* Prototype styles */
.cradle {
  display: flex;
  flex-direction: row; }

.rod {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  margin: 0 1em; }
  .rod .wire {
    height: 150px;
    width: 10px;
    background-color: rebeccapurple; }
  .rod .bearing {
    height: 50px;
    width: 50px;
    background-color: hotpink; }

.bearing {
  border-radius: 50%; }
