<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Newton's Cradle</title>
    <meta name="description" content="SVG Lab">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../styles/normalize.css">
    <link rel="stylesheet" href="newtons-cradle.css">
    <script src="../../vendor/modernizer/modernizr.js"></script>

</head>
<body>

<div class="main-view-container">

   <!--
    <svg version="1.1" 
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink" 
         class="scene">
         
     -->
   <div class="scene">
        
        <div class="cradle">
            
           <div class="rod rod-1">
                <div class="wire"></div>
                <div class="bearing"></div>
            </div>
            <div class="rod rod-2">
                <div class="wire"></div>
                <div class="bearing"></div>
            </div>
            <div class="rod rod-3">
                <div class="wire"></div>
                <div class="bearing"></div>
            </div>
            <div class="rod rod-4">
                <div class="wire"></div>
                <div class="bearing"></div>
            </div>
            <div class="rod rod-5">
                <div class="wire"></div>
                <div class="bearing"></div>
            </div>
            
       </div>
        
    </div>


</div>


<script src="../../vendor/gsap/src/minified/TweenMax.min.js"></script>


<script src="scripts/bearing.js"></script>
<script src="newtons-cradle.js"></script>


</body>
</html>
