<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fireworks</title>
    <meta name="description" content="Fireworks">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../../styles/normalize.css">
    <link rel="stylesheet" href="peony.css">
    <script src="../../../vendor/modernizer/modernizr.js"></script>

</head>
<body>

    <svg class="svg-def"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         version="1.1" >
        <defs>
            <symbol id="circleSVG" viewBox="0 0 20 20">
                <circle cx="50%" cy="50%" r="8" style="stroke: none"></circle>
            </symbol>
        </defs>
    </svg>

    <div class="main-view-container">


            <svg class="firework-container">
                <svg id="firework-svg"></svg>
            </svg>

    </div>
    
    
    

<script src="../../../js/lib/plugins/compose.js"></script>
<script src="../../../js/lib/plugins/svg-plugins.js"></script>

<script src="../../../vendor/gsap/src/minified/TweenMax.min.js"></script>

<script src="../scripts/FireworkFragment.js"></script>
<script src="peony.js"></script>


</body>
</html>
