<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Click Sprinkle</title>
    <link rel="stylesheet" href="click-sprinkle.css">
</head>
<body>
    <div class="main-view-container">

        <p class="alert">Click anywhere to move the shape-sparkle location</p>

        <div class="shape-set">
            <div class="shape-set__center shape-set__center--circle"></div>
        </div>

    </div>

    <script src="../../vendor/gsap/src/minified/TweenMax.min.js"></script>
    <script src="click-sprinkle.js"></script>
</body>
</html>
