@import '../../styles/application';

$shape-set__width: 300px;
$shape-set__height: 300px;

$circle__width: 40px;
$circle__height: 40px;

body {
    background-color: hsla(211, 21%, 22%, 1);
}

.shape-set {
    width: $shape-set__width;
    height: $shape-set__height;
}

.shape-set__container {
    position: relative;
}

.shape-set__center,
.shape-set__outer {
    position: absolute;
    top: 50%;
    left: 50%;
}

.shape-set__center--circle,
.shape-set__outer--circle {
    border-radius: 50%;
    transform-origin: 50% 50%;
    width: $circle__width;
    height: $circle__height;
    margin-top: -($circle__height / 2);
    margin-left: -($circle__width / 2);
}

.shape-set__center {
    background-color: hsla(0, 100%, 100%, 1.0);
}
.shape-set__outer {
    background-color: hsla(120, 100%, 60%, 1);
}

.alert {
    position: absolute;
    top: 5%;
    left: 5%;
    color: $font-color-white_primary-text__dark-background;
}
