@import '../../../../styles/application';

$creeper-path-container-height: 120px;
$creeper-width: 100px;

.main-view-container {
    background-color: springgreen;
}

.content-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#areaContainer {
    opacity: 0;  // animate opactiy on load after we're properly positioned
}




