@import '../../styles/application';


$circle__width: 40px;
$circle__height: 40px;
$circle__color: hsla(120, 100%, 60%, 1);

body {
    background-color: hsla(211, 21%, 22%, 1);
}

.chain {
    position: absolute;
    left: 0;
    top: 50%;
}

.circle {
    fill: $circle__color;
    width: $circle__width;
    height: $circle__height;
}
