<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sin Wave Chain</title>
    <link rel="stylesheet" href="sin-wave-chain.css">
</head>
<body>

    <svg class="svg-def"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         version="1.1" >

        <defs>
            <symbol id="circleSVG">
                <circle cx="25" cy="25" r="20px" style="stroke: none;"></circle>
            </symbol>
        </defs>

    </svg>


    <div class="main-view-container">

        <svg class="chain" width="100%" x="0" viewBox="0 0 1920 60" preserveAspectRatio="xMinYMid">
        </svg>
    </div>

    <script src="../../vendor/gsap/src/minified/TweenMax.min.js"></script>
    <script src="sin-wave-chain.js"></script>
</body>
</html>
