<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Moon Masking</title>

    <link rel="stylesheet" href="../../../vendor/savvy/savvy.min.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <body class="u-full-bleed u-full-stretch u-relative g-bg-cool-gray--500">

    <main class="u-width-90 u-relative u-flow-middle">

      <header class="u-fill-width">
        <h1 class="g-blue--100 u-flow-middle u-m4 u-align-center">Phases of the Moon</h1>
      </header>

      <section class="moon-image-container u-fill-width">
        <img src="img/moon.png" alt="Moon" title="moon" class="moon-image">
      </section>

      <section class="u-fill-width">
        <div class="o-flex-grid o-flex-grid--justifyCenter o-flex-grid--full">
          <label class="o-grid-cell" for="moon-phase-slider">Current Phase</label>
          <input class="o-grid-cell" id="moom-phase-slider" type="range" name="phase-slider" value="0">
          <div class="o-grid-cell">TODO: Place Tracker Here</div>
        </div>
      </section>

    </main>






    <script src="../../../vendor/system.js"></script>
    <script src="../../../config.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            System
              .import('views/moon-masking/main')
              .then(function (MODULE) {
                MODULE.default.run();
              })
              .catch(function (err) {
                console.error(`Error: ${err}\nStack: ${err.stack}`);
              });
        });
    </script>

  </body>
</html>
