.heading {
    font-size: 3.5rem;
    color: $font-color__primary-text--black-on-light-background;
}

.heading__title {
    text-align: left;
    color: $font-color__primary-text--black-on-light-background;
    margin-top: 0;
    margin-bottom: 0;
}


