<link rel="stylesheet" href="flip-box-loader.css">

<div class="main-view-container">

        <div class="loader-container">
            <svg class="loader_cube" width="70px" height="70px" viewBox="0 0 35 35" preserveAspectRatio="none">
                <rect x="0" width="35" height="35"></rect>
            </svg>
            <svg class="loader_base" width="210px" viewBox="0 0 105 105" preserveAspectRatio="none">
                <line x1="0" y1="52.5" x2="105" y2="52.5" stroke-miterlimit="10"></line>
            </svg>

        </div>

</div>


<script src="../../../js/lib/plugins/base-plugins.js"></script>
<script src="../../../js/lib/plugins/css-plugins.js"></script>

<script src="../../../vendor/gsap/src/minified/plugins/DrawSVGPlugin.min.js"></script>
<script src="../../../vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="flip-box-loader.js"></script>
