<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Word Paths</title>
    <meta name="description" content="SVG Lab">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../../styles/normalize.css">
    <link rel="stylesheet" href="word-path-drawing.css">
    <script src="../../../vendor/modernizer/modernizr.js"></script>

</head>
<body>

<div class="main-view-container">

    <svg class="scene" 
         version="1.1" 
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
                         
        <svg class="text-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1118.9 577.5">

          
                              
          <text id="text-content" transform="translate(108.549 223.644)">
            <tspan class="row row-1" x="0" y="0">We hypnotize</tspan>
            <tspan class="row row-2" x="0" y="120">our prey</tspan>
            <tspan class="row row-3" x="0" y="240">with disco lights</tspan>
          </text>
          
        </svg>

                          
    </svg>


</div>


<script src="../../../vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="word-path-drawing.js"></script>


</body>
</html>
