<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lightbulb Flickering</title>
    <meta name="description" content="Lightbulb Flickering">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../apple-touch-icon.png">
    <link rel="stylesheet" href="lightbulb.css">
    <!-- Place favicon.ico in the root directory -->

</head>
<body>

  <svg class="svg-def" version="1.1" xmlns="http://www.w3.org/2000/svg">

  </svg>

  <div class="scene">


  </div>



    <script src="../../../js/lib/plugins/base-plugins.js"></script>


    <script src="../../../vendor/system.js"></script>
    <script src="../../../config.js"></script>
    <script>
        System.import('views/stop-motion/egyptian-urn-painting/urn-painting-stop-motion')
            .then(function (mod) {
                var appRunner = mod.default();

                if (appRunner) {
                    appRunner();
                    //window.addEventListener('DOMContentLoaded', appRunner, false);
                }
            });
    </script>

</body>
</html>
