<script src="../../../bower_components/snap.svg/dist/snap.svg.js"></script>
<script src="../../../bower_components/gsap/src/minified/TweenMax.min.js"></script>

<link rel="stylesheet" href="snap-intro.css">

<svg width="0" height="0" viewBox="0 0 10 10">
    <pattern id="pattern"
             patternUnits="userSpaceOnUse"
             x="0"
             y="0"
             width="10"
             height="10"
             viewBox="0 0 10 10">
        <path d="M-5, 0, 10, 15 M0-5, 15, 10"
              stroke="white"
              stroke-width="5">
        </path>
    </pattern>
</svg>
<svg width="800" height="800" viewBox="0 0 800 800" class="mainFrame">

</svg>

<script src="snap-svg-intro.js"></script>

