.svg-def {
    position: absolute;
    width: 0;
    height: 0;
}

#sfSkylineImg {
    mask: url('../../../assets/svg/home-mask.svg#mask');
    -webkit-mask-image: url('../../../assets/svg/home-mask.svg');
}
