$color__background: hsla(189, 59%, 68%, 1);
$color__primary--alt-hue-dark: hsla(207, 38%, 29%, 1);

$lab-svg__width: 900px;
$lab-svg__height: 675px;

$idea-bulb__flicker-color--yellow-1: hsla(34, 67%, 49%, 1);
$idea-bulb__flicker-color--yellow-2: hsla(40, 93%, 78%, 1);
$idea-bulb__flicker-color--yellow-3: hsla(43, 94%, 62%, 1);
$idea-bulb__flicker-color--yellow-4: hsla(34, 67%, 53%, 1);
$idea-bulb__flicker-color--yellow-5: hsla(47, 94%, 87%, 1);
$idea-bulb__flicker-color--yellow-6: hsla(54, 91%, 95%, 1);


$idea-bulb__flicker-color--green-1: hsla(101, 44%, 27%, 1);
$idea-bulb__flicker-color--green-2: hsla(101, 45%, 30%, 1);
$idea-bulb__flicker-color--green-3: hsla(102, 43%, 20%, 1);
$idea-bulb__flicker-color--green-4: hsla(100, 44%, 46%, 1);
$idea-bulb__flicker-color--green-5: hsla(101, 75%, 63%, 1);
$idea-bulb__flicker-color--green-6: hsla(100, 44%, 46%, 1);