@import '../../../styles/application';

$background-color: hsla(220, 60%, 18%, 1);
$path-color: hsla(17, 100%, 81%, 1);
$menu-icon__width: 68px;
$menu-icon__height: 68px;

$hamburger-dash__starting-size: 32;
$hamburger-dash__end-size: 109;
$hamburger__bun-height: 4px;
$hamburger__bun-width: 36px;

$duration__multiplier: 1s;
$duration__path-toggle: $animation-duration-multiplier * 0.75;
// 0.75s

.main-view-container {
    background-color: $background-color;
}

.ic-hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate3d(-50%, -50%, 0);

    display: block;
    width: $menu-icon__width;
    height: $menu-icon__height;
    border: 1px solid red;

    .ic-hamburger__top-bun,
    .ic-hamburger__bottom-bun {
        position: absolute;
        display: block;
        height: $hamburger__bun-height;
        width: $hamburger__bun-width;
        border-radius: 2px;
        background-color: $path-color;

        /* Starting animation values */
        transform-origin: 34px 2px;
        transform: rotate(0deg); // initialize to prevent pixel artifacts
        transition: all $duration__path-toggle * (2/3) cubic-bezier(.8, -1.1, .5, 1.9); // x to = animation

    }

    /******************************* Initial path and bun styles *******************************/

    .ic-hamburger__path {
        stroke: $path-color;
        stroke-linecap: round;
        transition: all $duration__path-toggle ease;
    }
    .ic-hamburger__top-bun {
        top: ($menu-icon__height / 4) + ($hamburger__bun-height / 2); // 19
        left: ( ($menu-icon__width - $hamburger__bun-width) / 2 ) - ($hamburger__bun-height / 2); //  14
    }
    .ic-hamburger__bottom-bun {
        top: $menu-icon__height - ($menu-icon__height * .4); // 41
        left: ($menu-icon__width - $hamburger__bun-width) / 2 - ($hamburger__bun-height / 2); // 14
    }

    /************************************************************/


    /**************************** MENU CLOSED ********************************/
    &.ic-hamburger--menu-closed {
        .ic-hamburger__path {
            stroke-dasharray: 1 100 $hamburger-dash__starting-size 300;
            stroke-dashoffset: 101;
        }
    }
    /************************************************************/


    /************************** MENU OPEN **********************************/
    &.ic-hamburger--menu-open {
        // The circle animation is done by changing two things:
        // - a new 100px gap is swiped in from the left by changing offset
        // - the 'burger' dash is increased from 32px to 190px
        .ic-hamburger__path {
            stroke-dasharray: 1 100 $hamburger-dash__end-size 300;
            stroke-dashoffset: 1;
        }

        // Rotate the top and bottom 'bum' to make a cross, and shift them to
        // the right a little bit
        .ic-hamburger__top-bun {
            transform: translateX(-4.5px) rotate(-45deg);
        }
        .ic-hamburger__bottom-bun {
            transform: translateX(-4.5px) rotate(45deg);
        }

        /************************************************************/
    }
}







