@import '../../../../styles/application';

body {
    background-color: hsla(210, 10%, 8%, 1);
}

/* Rim Glow Layer also serves as the click listener */
#watchRimGlow {
    cursor: pointer;
    z-index: 4;
    transform-origin: 50% 50%;
    transform: rotateZ(-90deg) rotateX(180deg);   // Rotate so that SVG path starts at top of the watch and the length runs clockwise (the default, (i.e. trigonometric) start point is x-most point of the circle, with length running counterclockwise)

    &.animating {
        cursor: default;
    }
}

#loaderSVG {
    width: 20em;
    opacity: 0;   /* animate into view onload after we've positioned */
}
