@import '../../../../styles/application';

body {
    background-color: hsla(210, 10%, 8%, 1);
}

$watch-color__primary: hsla(191, 15%, 22%, 1);
$watch-color__glow--loading: hsla(205, 72%, 50%, 1);
$watch-color__glow--complete: hsla(133, 100%, 66%, 1);


.click-listener {
    cursor: pointer;

    &.animating {
        cursor: default;
    }
}

#watchRimGlow {
    z-index: 4;
    transform-origin: 50% 50%;
    transform: rotateZ(-90deg) rotateX(180deg);   // Rotate so that SVG path starts at top of the watch and the length runs clockwise (the default, (i.e. trigonometric) start point is x-most point of the circle, with length running counterclockwise)
}

.path--filled {
    fill: $watch-color__primary;
}
.path--stroked {
    stroke: $watch-color__primary;
}
.path--filtered {
    stroke: $watch-color__glow--loading;
}

#checkPath {
    &.path--filtered {
        stroke: $watch-color__glow--complete;
    }
}

#loaderSVG {
    width: 20em;
    opacity: 0;   /* animate into view onload after we've positioned */
}
