<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Atomic Slider</title>
    <meta name="description" content="SVG Lab">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../apple-touch-icon.png">
    <link rel="stylesheet" href="lightbulb.css">
    <!-- Place favicon.ico in the root directory -->

</head>
<body>
  
    <svg class="svg-def" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <filter id="surroundingBlur" x="-200%" y="-200%" width="400%" height="400%">
            <feGaussianBlur class="blur-node" in="SourceGraphic" stdDeviation="70"></feGaussianBlur>
          </filter>
        </defs>
    </svg>    

  <div class="scene">
      <svg id="lightBulbContainer" class="svg-container" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 555.1 555.1">
        <style>
          .st0{fill:#F2E3B4;} .st1{fill:#E68A3A;} .st2{fill:#FFF3AA;} .st3{fill:none;stroke:#BFBFBF;stroke-width:5;stroke-miterlimit:10;} .st4{fill:#8D8F92;} .st5{fill:#231F20;} .st6{fill:#DEA343;} .st7{fill:none;stroke:#3C2011;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        </style>

        <g id="lightbulb">
          
         <path id="bulbInnerCharging" 
                class="st1" 
                filter="url(#surroundingBlur)"
                d="M382 276.9c0-57.9-46.9-104.8-104.8-104.8S172.3 219 172.3 276.9c0 22.1 6.8 42.6 18.5 59.5l86.3 146.1 86.3-146.1c11.7-16.9 18.6-37.4 18.6-59.5z"/>
         
         <path id="bulbInnerLit" 
                class="st2" 
                filter="url(#surroundingBlur)"
                d="M382 276.9c0-57.9-46.9-104.8-104.8-104.8S172.3 219 172.3 276.9c0 22.1 6.8 42.6 18.5 59.5l86.3 146.1 86.3-146.1c11.7-16.9 18.6-37.4 18.6-59.5z"/>
          
         <path id="bulbGlass" class="st3" d="M382 276.9c0-57.9-46.9-104.8-104.8-104.8S172.3 219 172.3 276.9c0 22.1 6.8 42.6 18.5 59.5l86.3 146.1 86.3-146.1c11.7-16.9 18.6-37.4 18.6-59.5z"/>
        
         <path id="lightBase" class="st4" d="M227 398.1l-.9 83.2 51 77.2 51-80.2v-80.2z"/>
          
         <g id="lightBaseGrooves">
            <path class="st5" d="M229.6 415.2v8.6l95.1-4.3z"/>
            <path class="st5" d="M229.6 422.2v8.6l95.1-4.3z"/>
            <path class="st5" d="M229.6 429.2v8.6l95.1-4.3z"/>
            <path class="st5" d="M229.6 436.2v8.6l95.1-4.3z"/>
            <path class="st5" d="M229.6 443.2v8.6l95.1-4.3z"/>
            <path class="st5" d="M229.6 450.2v8.6l95.1-4.3z"/>
            <path class="st5" d="M229.6 457.2v8.6l95.1-4.3zM229.6 408.2v8.6l95.1-4.3z"/>
          </g>
          
          <path id="lightBaseBottomTexture" class="st5" d="M309.9 497.8l-32.8 52.9-34-52.9z"/>
          <path id="wireSupportLeft" class="st6" d="M237.9 398.1h-11.3l-4.5-74.1-20.3-71.7 28.3 71.8 6.2 21.9z"/>
          <path id="wireSupportRight" class="st6" d="M317.3 398.1h11.2l4.6-74.1 20.3-71.7-28.4 71.8-6.1 21.9z"/>

          <path id="energyWireUnlit" class="st7" d="M202.9 253.7l19.2 48.3 13.5-48.5 15.5 46.7 15.5-46.5 13.3 45.8 12.7-44.5 12.5 46.5 17-46.3 11.8 45.5 17.5-46.5"/>
          
          <!-- Declare the lit layer last because this will overlay the unlit layer when shown -->
          <path id="energyWireLit" class="st7" d="M202.9 253.2l19.2 48.3 13.5-48.5 15.5 46.7 15.5-46.5 13.3 45.8 12.7-44.5 12.5 46.5 17-46.3 11.8 45.5 17.5-46.5"/>
        </g>
      </svg>

  </div>


    <script src="../../../js/lib/plugins/base-plugins.js"></script>


    <script src="../../../vendor/system.js"></script>
    <script src="../../../config.js"></script>
    <script>
        System.import('views/svg-lab/lightbulb/lightbulb')
            .then(function (mod) {
                var appRunner = mod.default();

                if (appRunner) {
                    appRunner();
                    //window.addEventListener('DOMContentLoaded', appRunner, false);
                }
            });
    </script>

</body>
</html>
