@import '../../../styles/application';

$color__tree-trunk: hsla(17, 38%, 11%, 1);
$scene__width: 80%;
$scene__height-to-width-ratio: 0.425;

.svg-container {

    opacity: 0; // fade in after we position on-load
    position: relative;

    .svg,
    .svg__outer {
        position: absolute;
        top: 0%;
        left: 0%;
    }
    .svg__inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

}

.svg-container--scene {

    width: $scene__width;
    height: $scene__width * $scene__height-to-width-ratio;
}

.svg-container--leaf {
    width: 100%;
    height: 100%;
}



#leaf {
    position: absolute;
    transform: rotateZ(-60deg);
    transform-origin: 50% 50%;
    z-index: 3;
}

#tree {
    position: absolute;
    z-index: 1;
}




