@import '../../../styles/application';



@keyframes Spin {
    100% {
        transform: rotateZ(1turn);    
    }
}


@keyframes ShiftRadius {
    50% {
        border-radius: 50%;
    }
}


@keyframes ShiftWidth {
    50% {
        border-width: .3em;
    }
}


@keyframes ShiftColor {
    33% {
        color: hsla(10, 99%, 66%, 1);
    }
    66% {
        yellow;
    }
}



.main-view-container {
    background-color: hsla(180, 17%, 66%, 1);
}

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    
    
    .loader:before {
        content: '';
        display: block;
        width: 4em;
        height: 4em;   
        margin: 0 auto 1em;
        border: 1.5em solid;
        color: hsla(36, 100%, 87%, 1);
        box-sizing: border-box;
        animation: 
            1.1s Spin,
            .9s ShiftRadius,
            1.3s ShiftColor,
            1.5s ShiftWidth;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    .subtitle {
        color: $font-color-white_icon__dark-background;

    }
}