<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Random Animation Duration</title>
    <meta name="description" content="Animation Lab">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../../styles/normalize.css">
    <link rel="stylesheet" href="random-animation-duration.css">
    <script src="../../vendor/modernizer/modernizr.js"></script>

</head>
<body>

<div class="main-view-container">


    <div class="loader-container">
        <div class="loader"></div>
        <span class="subtitle">Loading...</span>
    </div>


</div>


</body>
</html>
