#controller-to-tv-morph-and-flash,
#controller-to-tv-morph-and-flash-with-glow-finish {
    .playstation-vue-logo__outline {
        display:none;
    }

    .ps-logo {
        opacity: 0;
    }

    .antenna {
        opacity: 0;
    }
}
