$button__min-height: 4.5rem;
$button__min-width: 4.8rem;
$padding__button: 0.8em 1.2em;


%button {
    position: relative;
    min-height: $button__min-height;
    min-width: $button__min-width;
    display: flex;
    padding: $padding__button;
    outline: none;
    overflow: hidden;
    border: 1px solid $theme-color_accent__main;
    background-color: $theme-color_accent__main;
    background-image: linear-gradient(
            hsla(0, 0%, 100%, .2),
            transparent
    );
    border-radius: .2em;
    box-shadow: 0 .05em .25em hsla(0, 0%, 0%, 0.5);
    color: $font-color-white_button__dark-background;
    text-shadow: 0 -.05em .05em hsla(0, 0%, 0%, 0.5);
    font-size: 1.25em;
    line-height: 2.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

%button--holo {
    @extend %button;
    outline: none;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}


%button-fab {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: $theme-color_accent__main;
    box-shadow: 0 0.5em .25em hsla(0, 0%, 0%, 0.5);
    font-size: 1.25em;
    cursor: pointer;
}



%toolbar {
    color: $font-color-white_primary-text__dark-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: $navbar-height;
    min-height: $navbar-height;
    background-color: $theme-color_accent__main;
    max-width: 100%;
    width: 100%;
    font-size: 2.0rem;
    position: relative;
}


/**
 * Default helper styles when displaying an image via
 * the background-image property and we want to guarantee
 * that the size is contained
 */
%centered-background-image--contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/**
 * Default helper styles when displaying an image via
 * the background-image property and we want to guarantee
 * that the size covers the container
 */
%centered-background-image--cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


%absolute-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
