@import '../../helpers/lab/lab-options';


.lab {
    height: 100%;
    background-color: $white;  /* Animate to the pre-defined background color on intro */
    
    .lab__title {
        color: $color__primary--alt-hue-dark;
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        opacity: 0;  // animate in on intro
        transform: translate3d(-50%, -150%, 0);
        white-space: nowrap;            
    }
    
    #lab-svg {
        position: absolute;
        width: $lab-svg__width;
        height: $lab-svg__height;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -54%, 0);
    }
    
    #BulbIdea,
    #Brian,
    #Coin,
    #Stage {    
        visibility: hidden;
        opacity: 0;
    }
}