<svg width="200px"
     height="200px"
     viewBox="0 0 200 200">

    <circle cx="25" cy="25" r="25" style="stroke: black; fill: none;"></circle>
    <rect x="100" y="5" width="30" height="80" style="stroke: black; fill: none;"></rect>

    <svg width="30px"
         height="80px"
         x="100px"
         y="5px"
         viewBox="0 0 50 50"
         preserveAspectRatio="xMaxYMax meet">

        <!-- Same coordinate specification as the outer circle -- but this one's drawn within the new system! -->
        <circle cx="25" cy="25" r="25" style="stroke: black; fill: none;"></circle>
    </svg>
</svg>
