$theme-color__primary: hsla(20, 84%, 52%, 1);

$navbar-height: 96px;
$navbar-logo-height: $navbar-height - 14px;


$background-color_page__primary: hsla(0, 0%, 96%, 1.0);
$background-color_content-area__primary: hsla(0, 100%, 100%, 1.0);
