@import 'application';


[class^="content-wrapper"] {
    margin: 1em auto;
    width: 90%;
    padding: $padding-wrapper_default;
    max-width: 90%;
    background-color: $background-color_primary__content;

    &[class*="_link-map"] {
        overflow: hidden;
    }
}


.map-container {
    text-align: center;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;

    ul {
        text-align: center;
        padding-left: 0;
        list-style-type: none;
    }
}



ul {
    &.toggle-vis {
        &.hide {
            li {
                visibility: collapse;
            }
        }
        &.show {
            li {
                visibility: visible;
            }
        }
    }
}
